header
{
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  height:20vh;
}
section 
{
  height:70vh;
  background-color: #f0f0f0;
  display:flex;
  justify-content:center;
  align-items:center;
  flex-direction:column;
  gap:1rem;
}
.consultation
{
  height:40px;
  background-color:white;
  width:27.5rem;
  display:flex;
  align-items:center;
  justify-content:center;
  color:gray;
}
.consultation strong
{
  color:blue;
}
section form
{
  display:flex;
  justify-content:center;
  background-color: white;
  height:80%;
  padding: 20px;
  flex-direction:column;
  gap:2rem;
}
.optionButton
{
  height:50px;
  width:400px;
  border: 2px solid #f0f0f0;
  background-color:white;
  display:flex;
  justify-content:space-between;
  align-items:center;
  transition: all 0.3s ease-in-out;
}
.optionButton:hover
{
  transform: scale(1.05);
  cursor:pointer;
}
.optionButton div 
{
  display:flex;
  align-items:center;
  gap:1rem;
}
.optionButton div span
{
  font-size:1.3em;
}
footer
{
  height:10vh;
  background-color:white;
  display:flex;
  justify-content:center;
  align-items:center;
}